{% extends "layout.html" %}

{% block title %}Cryptic binding site Download{% endblock %}

{% block body %}
<h2>Running CryptoSite locally</h2>
<p>If you want to run CryptoSite with larger systems, or with confidential
data, or you want more control over each step in the algorithm, you can
<a href="https://github.com/salilab/cryptosite/">download the source code
from GitHub</a> and run it on your own compute cluster.</p>
<p>The source code for this web service is also
<a href="{{ config.GITHUB }}">available at GitHub</a>.
</p>
{% endblock %}
