{% extends "saliweb/layout.html" %}

{% block navigation %}
{{ get_navigation_links(
       [(url_for("index"), "CryptoSite Home"),
        (url_for("job"), "Current Queue"),
        (url_for("help"), "Help"),
        (url_for("download"), "Download"),
        (url_for("contact"), "Contact")])
}}
{% endblock %}

{% block sidebar %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4><small>Author:</small></h4><p>Peter Cimermancic</p>
<h4><small>Web Developers:</small></h4>
<p>Peter Cimermancic<br />
Leon Bichmann<br />
Ben Webb<br /></p>
<h4><small>Acknowledgements:</small></h4>
<p>Patrick Weinkam
<br />Andrej Sali</p>
<p><i>Version <a href="{{ config.GITHUB }}">{{ config.VERSION }}</a></i></p>
{% endblock %}

{% block footer %}
<div id="address">
<center><a href="http://www.sciencedirect.com/science/article/pii/S0022283616000851">
<b>P. Cimermancic et al., <i>JMB</i>, 2016</b></a>
</center>
</div>
{% endblock %}
